
<div class="card">
  <div class="card__text">
    <strong>{{ article.title }}</strong><br/>
    {{ article.authors }}. <em>{{ article.publisher }}</em>.<br/>
    DOI: <a href="https://doi.org/{{ article.doi }}" rel="external nofollow noopener" target="_blank">{{ article.doi }}</a>
    {%- if article.slides -%}
      <a href="{{ article.slides }}" class="articles" rel="external nofollow noopener" target="_blank">Slides</a>
    {%- endif -%}
    {%- if article.video -%}
      <a href="{{ article.video }}" class="articles" rel="external nofollow noopener" target="_blank">Video</a>
    {%- endif -%}
  </div>
</div>
<br/>
