---
layout: default
---

<a name="posts"></a>
<div style="display: block; ">
  <h1>Arquivo do sitio</h1>
  {%- assign posts = site.posts | where:"categories","post" -%}
  {%- assign groupedByYear = posts | group_by_exp:"post","post.date | date:'%Y' " -%}
  <!-- total posts: {{ posts.size }} -->

  {%- for yearitem in groupedByYear -%}
  <span style="display: block; ">
    <h2>{{ yearitem.name }}</h2>

    <ul class="post-list">
    {%- for item in yearitem.items -%}
      <div style="display: grid; grid-template-columns: 25% 75%;">
        <span>{{ item.date | date:'%e de %b'}}</span>
        <span><a href="{{ item.url }}">{{ item.title }}</a></span>
      </div>
    {% endfor %}
    </ul>
  </span>
  {% endfor %}
</div>
