---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = "%-d / %m / %Y" -%}
        <i>{{ page.date | date: date_format }}</i>
      </time>
      {%- assign versions=site.posts | where: "ref",page.ref | sort: "lang" -%}
      {%- if versions.size > 1 -%}
          {%- for version in versions -%}
              {%- if version.lang != page.lang -%}
                • <i><a href="{{ version.url }}" class="{{ version.lang }}">{{ site.data.i18n[version.lang].read_it_in }} <b>{{ site.data.i18n[version.lang].label }}</b></a> {{ site.data.i18n[version.lang].icon }} </i>
              {%- endif -%}
          {%- endfor -%}
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- 
      {%- if page.tags -%}
        <br/> {%- for tag in page.tags -%}
          <a href="{{site.baseurl}}/archive.html#{{tag | slugize}}">
            <span itemprop="tag" itemscope itemtype="http://schema.org/Category">
              <span class="h-card" itemprop="name">#{{ tag }}</span>
            </span>
          </a>
        {%- endfor -%}
      {%- endif -%}  -->

  <p class="post-meta"><i>{{ site.data.i18n[page.lang].check }} <a href="{{ "/archives/index" }}">{{ site.data.i18n[page.lang].history }}</a> {{site.data.i18n[page.lang].news}}</i>.</p>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>